section.passed-events {
    min-height: 0;
    grid {
        padding-bottom: 3em;
        @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
            padding-bottom: 2em;
        }
        descriptions {
            display: none;
        }
        content {
            ul {
                margin-bottom: 2em;
            }
        }
    }
}

.thumbnails-grid.passed-events.links-buttons {
    content {
        item.thumbnail {
            margin: 0;
            @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                width: 25%;
                font-size: 12px;
            }
            thumbnail-wrap {
                a.thumbnail {
                    background-image: none;
                    text-decoration: none;
                    font-size: 0.9em;
                    @media screen and (max-width: @SMARTPHONE_MAX_PORTRAIT) { 
                        &#go-to-current {
                            background-color: @ORANGE;
                            color: white;
                            border-color: @ORANGE; 
                        }
                        &#go-to-recordings {
                            background-color: @PURPLE;
                            color: white;
                            border-color: @PURPLE; 
                        }
                    }
                    &:hover {
                        font-size: 1.1em;
                        &#go-to-current {
                            background-color: @ORANGE;
                            color: white;
                            border-color: @ORANGE; 
                        }
                        &#go-to-recordings {
                            background-color: @PURPLE;
                            color: white;
                            border-color: @PURPLE; 
                        }
                    }
                }
            }
        }
    }
}

