/* logo */
logo, .logo { background-image: url(" /2015/img/logo.png ");}
logo.orange, .logo.orange { background-image: url(" /2015/img/logo_orange.png ");}


/* splash screen background image (before gif is loaded) */
div.splash-screen-wrap { background-image: url(" /2015/img/audience.gif ");}
div.splash-screen-wrap.uni-campus { background-image: url(" /2015/img/venue/uni-campus.jpg "); } 
div.splash-screen-wrap.uni-campus-quads { background-image: url(" /2015/img/venue/uni-campus.png "); } 

/* splash screen background image */
section.topics .pen { background-image: url(" /2015/img/icons/pen.png ");}

/* icons */
icon.megaphone {  background-image: url(" /2015/img/icons/megaphone.png ");}

a.social { background-image: url(" /2015/img/icons/social.png "); } 

/* Venue page */
.crowd-party { background-image: url(" /2015/img/crowd/crowd-party.JPG "); } 
.uni-amph { background-image: url(" /2015/img/venue/uni-amph.jpg "); } 
.registration { background-image: url(" /2015/img/crowd/registration.jpg "); } 
