<section class="thumbnails-grid floating-buttons" id="flaoting-buttons-id">

    <grid>
        <content class="visited">

<div class="thumbnails thumbnails-5-in-row">

    <item class="thumbnail">
        <thumbnail-wrap style="">
            <a id="go-to-recordings" href="http://archives.nucl.ai/category/nuclai15/" target="_blank" class="thumbnail column-2 5-in-row enabled" name="mark-johnson" style="border-width: 2.52px; opacity: 1;">
              <div class="button-content centered-cell">
                nucl.ai15 Recordings
              </div>
            </a>
        </thumbnail-wrap>
        
    </item>

    <div class="brk" style="clear: both; width: 100%;"></div>

    <item class="thumbnail">
        <thumbnail-wrap style="">
            <a id="go-to-current" href="/" class="thumbnail column-1 5-in-row column-first enabled" name="hazel-mckendrick" style="border-width: 2.52px; opacity: 1;">
              <div class="button-content centered-cell">
                Current Edition
              </div>
            </a>
        </thumbnail-wrap>
        
    </item>

    <div class="brk" style="clear: both; width: 100%;"></div>

</div>

      </content>
    </grid>


</section>