{% if page.layout != "landing" %}
    {% capture linkPrefix %}{{ '/' | prepend: site.baseurl }}{% endcapture %}
{% else %}
{% endif %}

<section class="navigation">
    <div class="layer-color">
        <grid>
            <content>
                <item class="nav-logo">
                    <div class="icons-wrap">
                        <a href="{{linkPrefix}}#about" id="nav-logo" class="logo"></a>
                        <a href="{{linkPrefix}}#about" id="nav-logo" class="logo orange"></a>
                        {% comment %} 
                        <a href="{{linkPrefix}}#news-feed" class="logo" style="display:none;"></a> To keep menu highlighted {% endcomment %}
                    </div>
                </item>
       
                {% if page.name == 'overview.html' or page.name == 'events.html' or page.name == 'tracks.html' or page.name == 'schedule.html' or isTrackPage %}
                    <item class="selected">
                {% else %}
                    <item>
                {% endif %}
                    <a href="" class="expandable"> Program </a>
                    <div class="dropdown">
                        <div class="menu">
                            <div class="menu-wrap">
                                <div class="table">
                                    <div class="triangle"></div>
                                </div>
                                {% if page.name == 'overview.html' %}
                                    <div class="table selected item">
                                {% else %}
                                    <div class="table item">
                                {% endif %}
                                    <a class="" href="{{ '/program/overview/' | prepend: site.baseurl }}"> Overview </a>
                                </div>
                                {% if page.name == 'tracks.html' %}
                                    <div class="table selected item">
                                {% else %}
                                    <div class="table item">
                                {% endif %}
                                    <a href="{{ '/program/tracks/' | prepend: site.baseurl }}"> Tracks </a>
                                </div>
                                {% if page.name == 'schedule.html' %}
                                    <div class="table selected item">
                                {% else %}
                                    <div class="table item">
                                {% endif %}
                                    <a href="{{ '/program/schedule/' | prepend: site.baseurl }}"> Schedule </a>
                                </div>
                                {% if page.name == 'events.html' %}
                                    <div class="table selected item">
                                {% else %}
                                    <div class="table item">
                                {% endif %}
                                    <a class="disabled" href="{{ '/program/events/' | prepend: site.baseurl }}"> Events </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </item>

                {% capture venuePage %}{{site.data.config.edition.venue.id}}.html{% endcapture %}

                {% if page.name == 'attend.html' or page.name == venuePage or page.name == 'stream.html' or page.name == 'stream-day1.html'  or page.name == 'stream-day2.html' or page.name == 'stream-day3.html'%}
                    <item class="selected">
                {% else %}
                    <item>
                {% endif %}
                    <a href="" class="expandable"> Attend </a>
                    <div class="dropdown">
                        <div class="menu">
                            <div class="menu-wrap">
                                <div class="table">
                                    <div class="triangle"></div>
                                </div>
                                {% if page.name == 'attend.html' %}
                                    <div class="table selected item">
                                {% else %}
                                    <div class="table item">
                                {% endif %}
                                    <a href="{{ '/attend/' | prepend: site.baseurl }}"> Why Attend? </a>
                                </div>
                                {% if page.name == 'stream.html' or page.name == 'stream-day1.html'  or page.name == 'stream-day2.html' or page.name == 'stream-day3.html' %}
                                    <div class="table selected item">
                                {% else %}
                                    <div class="table item">
                                {% endif %}
                                    <a class="disabled" href="{{ '/stream/' | prepend: site.baseurl }}"> Stream </a>
                                </div>
                                {% if page.name == venuePage %}
                                    <div class="table selected item">
                                {% else %}
                                    <div class="table item">
                                {% endif %}
                                    <a href="{{ '/venue/' | prepend: site.baseurl }}"> The Venue </a>
                                </div>
                                {% if page.name == 'tickets.html' %}
                                    <div class="table selected item">
                                {% else %}
                                    <div class="table item">
                                {% endif %}
                                    <a href="{{ '/tickets/' | prepend: site.baseurl }}"> Get Tickets </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </item>


                {% comment %}
                <item class="">
                    <a href="{{linkPrefix}}#call" class=""> Call for Speakers </a>
                </item>
                {% endcomment %}

                <item class="">
                    <a href="{{linkPrefix}}#people"> People </a>
                </item>
                
                <item>
                    <a href="{{linkPrefix}}#sponsors" class=""> Sponsors </a>
                </item>
                
                {% if page.name == 'tickets.html'%}
                    <item class="selected static">
                {% else %}
                    <item class="">
                {% endif %}
                    <a href="{{ '/tickets/' | prepend: site.baseurl }}" class="" style=""> Tickets! </a>
                </item>

                {% comment %}

                <item>
                    <a href="" class="expandable"> Tickets </a>
                    <div class="dropdown">
                        <div class="menu">
                            <div class="menu-wrap">
                                <div class="table">
                                    <div class="triangle"></div>
                                </div>
                                <div class="table item disabled ">
                                    <a style="color:white!important;" href="" class="disabled"> Available Feb. 24th </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </item>

                {% endcomment %}



            </content>
        </grid>
    </div>
</section>