{% comment %}
 keep wrapper to have image visiable untill gif is loaded
{% endcomment %}
{% for topic in site.data.topics %}
    {% capture pageName %}{{topic.id}}.html{% endcapture %}
    {% if pageName == page.name %}
        {% assign isTrackPage = true %}
        {% capture trackBackground %}/img/tracks/{{topic.id}}.png{% endcapture %}
    {% endif %}
{% endfor %}

<section class="stream-link landing-stream splash-screen" id="about">

    {% if page.name == 'venue.html' or page.name == 'tickets.html' or page.name == 'attend.html' %}
    <div class="splash-screen-wrap uni-campus-quads">
    {% elsif isTrackPage %}
    <div class="splash-screen-wrap" style="background-image: url('{{ trackBackground | prepend: site.baseurl }}' ); background-position: center center;">
    {% elsif page.name == 'overview.html' or page.name == 'tracks.html' or page.name == 'schedule.html' %}
    <div class="splash-screen-wrap" style="background-image: url('{{ '/img/venue/room-lower.png' | prepend: site.baseurl }}' ); background-position: center center;">
    {% elsif page.name == 'stream.html' or page.name == 'stream-day1.html' %}
    <div class="splash-screen-wrap" style="background-image: url('{{'/img/stream/stream-yellow-quads.png' | prepend: site.baseurl }}' ); background-position: center center;">
    {% elsif page.name == 'events.html' %}
    <div class="splash-screen-wrap" style="background-image: url('{{'/img/events/Stiegl2.png' | prepend: site.baseurl }}' ); background-position: center center;">
    {% elsif page.name == 'stream-day2.html' %}
    <div class="splash-screen-wrap" style="background-image: url('{{'/img/stream/stream-blue-quads.png' | prepend: site.baseurl }}' ); background-position: center center;">
    {% elsif page.name == 'stream-day3.html' %}
    <div class="splash-screen-wrap" style="background-image: url('{{'/img/stream/stream-purple-quads.png' | prepend: site.baseurl }}' ); background-position: center center;">
    {% else %}
    <div class="splash-screen-wrap audience-gif">
    {% endif %}

    {% if page.name == 'index.html' %}

    <div id="splash-composed-background">

        {% for item in site.data.galleries.nuclai15 %}

            {% if forloop.first %}
                {% capture css_class %}enabled{% endcapture %}
            {% else %}
                {% capture css_class %}disabled{% endcapture %}
            {% endif %}


            <div class="img img-normal {{css_class}}" style="background-image: url('{{ item.picture }}');"></div>
            <div class="img img-quad {{css_class}}" style="background-image: url('{{ item.picture | replace:'.jpg','.png' | replace:'.JPG','.png' }}');"></div>

        {% endfor %}
        
        <div class="img-overlay"></div>

    </div>

    {% endif %}

     <splash>
            <grid class="table">
                <content class="opacity0 centered-cell">

                    <logo-wrap> <logo></logo> </logo-wrap>

                    {% if page.name == 'index.html' %}

                        <h1>nucl.ai</h1>
                        <h2> {{site.data.config.edition.to_html}}, Vienna / AUSTRIA. </h2>

                        {% if site.data.config.current.featured %}
                            {% comment %}
                            <!-- it's redundant here -->
                            {% if site.data.config.current.featured == "default" %}
                                {% include features/featured/default.html %}
                            {% endif %}
                            {% endcomment %}
                        {% endif %}

                    {% else %}

                        <div class="centered-cell">
                            <h1><a href="/">nucl.ai</a></h1>

                            <h2>{{site.data.config.edition.to_html}}, Vienna / AUSTRIA.</h2>

                        </div>
                        <div class="centered-cell">
                            <h2>Conference on Artificial Intelligence<br/> in Creative Industries</h2>

                            <h2 class="note">
                            {% if page.name == 'tickets.html' %}
                            
                            {% else %}
                            {% comment %}
                            <a href="/tickets/">{{site.data.config.remaining.type}} sale &mdash; only {{site.data.config.remaining.count}} tickets left!</a>
                            {% endcomment %}
                            {% endif %}
                            </h2>
                        </div>

                    {% endif %}

                </content>
                {% if page.name == 'index.html' %}

                    {% if site.data.config.current.featured == "call" %}
                        <div class="centered-cell right-cell stream-link">
                        {% include features/featured/call.html %}
                        </div>
                    {% endif %}

                {% endif %}
                {% if page.name == 'index.html' %}
                    {% if site.data.config.current.featured == "testimonials" %}
                        <div class="centered-cell right-cell">
                        {% include features/featured/testimonials.html %}
                        </div>
                    {% endif %}
                {% endif %}
            </grid>
        </splash>
    </div>
    {% include navigation.html %}
</section>