<section class="about">
    <canvas id="boids">
    </canvas>
    <grid>
        <content>
            <titles>
                <h2>
                    Artificial Intelligence in Creative Industries<br/>
                    Less Theory, More Sparks!
                </h2>
                <h3 class="wide">
                    The largest worldwide conference about Artificial Intelligence applications<br/>
                    in interactive media, training &amp; simulations, and digital entertainment.
                    <br/>
                </h3>
                {% comment %}
                <p class="note bigger"><a href="/tickets/">{{site.data.config.remaining.type}} sale now &mdash; only {{site.data.config.remaining.count}} tickets left!</a></p>
                {% endcomment %}
            </titles>

            <div class="featured-wrap">
                <featured>
                    {% comment %}
                        {% include landing/featured/call-for-papers.html %}
                    {% endcomment %}
                </featured>
            </div>

            <div class="columns">
                <p>nucl.ai is the largest event worldwide dedicated to AI in Creative Industries and returns this year in its 8th edition. The event brings together hundreds of professional developers, enthusiasts and practitioners from Europe and beyond!</p>

                <p>In AI, best practices and techniques are often widely applicable to other industries, so nucl.ai spans across a multitude of disciplines. Learn, network, be inspired and join us for 9 tracks on 3 days and 60+ sessions from high-profile keynotes to hands-on tutorials!</p>

                <p>This event is perfect for you if you're interested in digging into depth on business-critical subjects, staying up-to-date of upcoming technology, and establishing contacts with other companies in the field.  See you in Vienna/Austria in July!</p>
            </div>
        </content>
    </grid>

</section>
