<section class="call">
    <a class="anchor" id="call"></a>
    <h2>nucl.ai Conference 2016: Call for Speakers</h2>
    <grid>
        <content>
            <img style="width: 49%; float: left; margin: 0" src="{{ '/img/nuclai15/call1.jpg' | prepend: site.baseurl }}"/>
            <img style="width: 49%; float: right; margin: 0;" src="{{ '/img/nuclai15/call2.jpg' | prepend: site.baseurl }}"/>
            
            <br style="clear: both;"/>
            
            <div class="megaphone-paragraph-wrap">
            <p>After a (crazy) record-breaking year, the 8th edition of nucl.ai returns to Vienna/Austria on July 18-20 2016. The conference focuses on practical applications of Artificial Intelligence in creative industries — like the seven editions before it. The event brings together hundreds of professionals, researchers, hobbyists and other developers into a friendly community that's keen to learn, share ideas and experiment.</p>

            <icon class="megaphone"></icon>

            <p>We <a href="http://goo.gl/forms/H5l3IYWl4v" target="_blank">welcome submissions</a> for presentations about <acronym title="Artificial Intelligence">AI</acronym> and <acronym title="Machine Learning">ML</acronym> techniques used in commercial products, ranging from independent games to mobile applications or AAA titles and <acronym title="Virtual Reality">VR</acronym>/<acronym title="Augmented Reality">AR</acronym> simulations, from robots and toys to smart objects for <acronym title="Internet of Things">IoT</acronym>, or even social media bots and interactive exhibits.  Research & development tutorials and workshops are of particular interest for practical applications interesting for attendees.  Out of experience, the best sessions at the event try to balanced design and technology; we're looking forward to your submission!</p>
            </div>

            <p>The nucl.ai Conference is made of three parallel tracks, each in its own room.</p>
            
            <h3>Main Amphitheatre</h3>

            <img src="{{ '/img/venue/amphi-left.jpg' | prepend: site.baseurl }}"/>
            <p>The primary conference room hosts over three hundred people, and will feature high-profile presentations about popular games/simulations, inspiring techniques, and innovative independent projects. This is a great platform for sharing new insights and methods, or inspiring the next generation of developers!
            </p>

            <ul>
                <li>Inspiring Keynotes</li>
                <li>Behind-The-Scenes Post Mortems</li>
                <li>High Profile Applications</li> 
            </ul>

            <p>The usual length for these talks is about 45 minutes including Q&A, though the schedule is flexible to special cases.</p>

            <h3>Masterclass Room</h3>

            <img src="{{ '/img/venue/amphi-right.jpg' | prepend: site.baseurl }}"/>
            <p>The secondary amptitheatre fits one hundred seats, and will host more in-depth tutorials and deep dive masterclasses — targeting both beginners and experienced developers.  This room is ideal for teaching new ideas or how to use libraries, to connect directly with developers and get friendly feedback.
            </p>
            <ul>
                <li>Beginner Tutorials</li>
                <li>Deep Dive Masterclasses</li>
            </ul>
            
            <p>These talks usually go in chunks of 25 minutes, depending on the amount of content. The exact time will be decided after your proposal is accepted.</p>

            <h3>Open Laboratories</h3>

            <img src="{{ '/img/venue/room-lobby.jpg' | prepend: site.baseurl }}"/>
            <p>The open labs are setup in a section of the lobby, a very friendly and welcoming environment with low stress. It's the ideal place to do hands-on work, give demonstrations, discuss common problems and resolve them.
            </p>

            <ul>
                <li>Hands-On Workshops</li>
                <li>Problem Solving Clinics</li>
                <li>Poster Sessions</li>
            </ul>
            
            <p>The workshops last around 1h30 and are very interactive: they may include some presentation slides, but mostly hands-on work with the lab attendees.  Posters will be displayed throughout the conference, though official slots will be scheduled too.</p> 

            <!--
            <p>As a speaker, you get the following complimentary benefits:</p>

            <ul>
                <li>Speaker Pass for the conference, complimentary!</li>
                <li>Invitation to the exclusive V.I.P. dinner.</li>
                <li>Membership to AiGameDev.com's PREMIUM content.</li>
            </ul>
            -->

            <p class="important huge"><b>Deadline for submissions is {{site.data.config.edition.call_for_papers.deadline}}. Don't miss it!</b></p>

            <p><b style="color: white;">&raquo; To make your proposal, simply <a href="http://goo.gl/forms/H5l3IYWl4v" target="_blank">fill in this form</a>.</b></p>

            <p>After your submission, the first stage is for the organization team to check everything and prepare for the second stage, where the conference organisers and the Advisory Board decide if and how to best present the work at the conference. Assuming your proposal is approved, you'll be informed about the next steps by emails and the team will support you to make sure you deliver a talk you can be proud of.</p>
        </content>
    </grid>
</section>