<section class="call">
    <a class="anchor" id="call"></a>
    <h2>Call for Speakers</h2>
    <grid>
        <content>
            <!-- http://gameaiconf.com/vienna/announcement/call-for-speakers-volunteers/ -->
            <div class="megaphone-paragraph-wrap">
            <icon class="megaphone"></icon>

            <p>The 8th edition of nucl.ai returns to Vienna/Austria after a record-breaking year. The conference (still) focuses on practical applications of Artificial Intelligence in creative industries. Less hype, more results! The event brings together hundreds of professionals, researchers, hobbyists and other developers into a friendly community that's keen to learn and experiment.</p>

            <p>We welcome submissions for presentations about <acronym title="Artificial Intelligence">AI</acronym> and <acronym title="Machine Learning">ML</acronym> techniques used in commercial products, ranging from independent games to mobile applications or AAA titles and VR/AR simulations, from robots and toys to smart objects for IoT, or even social media bots and interactive exhibits.  Research & development tutorials and workshops are also very welcome if they have practical applications usable by attendees.  Out of experience, the best sessions at the event try to balanced design and technology &mdash; and both are of course welcome in 2016.</p>
            </div>
                        
            <p>The nucl.ai Conference is made of three parallel tracks, each in its own room.</p>
            
            <h3>Main Amphitheatre</h3>
            
            <div class="call-row">
                <ul>
                    <li>Inspiring Keynotes</li>
                    <li>Behind-The-Scenes Post Mortems</li>
                    <li>High Profile Applications</li> 
                </ul>
                <img src="{{ '/img/venue/room-upper.jpg' | prepend: site.baseurl }}"/>
                <div style="clear:both"></div>
            </div>

            <h3>Masterclass Room</h3>

            <div class="call-row">
                <ul>
                    <li>Beginner Tutorials</li>
                    <li>Deep Dive Masterclasses</li>
                </ul>
                <img src="{{ '/img/venue/room-lower.jpg' | prepend: site.baseurl }}"/>
                <div style="clear:both"></div>
            </div>

            <h3>Open Laboratories</h3>

            <div class="call-row">
                <ul>
                    <li>Poster Sessions</li>
                    <li>Hands-On Workshops</li>
                    <li>Problem Solving Clinics</li>
                </ul>
                <img src="{{ '/img/venue/room-lobby.jpg' | prepend: site.baseurl }}"/>
                <div style="clear:both"></div>
            </div>
            <!--
            <p>As a speaker, you get the following complimentary benefits:</p>

            <ul>
                <li>Speaker Pass for the conference, complimentary!</li>
                <li>Invitation to the exclusive V.I.P. dinner.</li>
                <li>Membership to AiGameDev.com's PREMIUM content.</li>
            </ul>
            -->

            <br/>
            <p>To make your proposal, simply <a href="http://goo.gl/forms/H5l3IYWl4v" target="_blank">fill in this form </a>.</p>

                <p>After your submission, the first stage is for the organization team to check everything and prepare for the second stage, where the conference organisers and the Advisory Board decide if and how to best present the work at the conference. Assuming your proposal is approved, you'll be informed about the next steps by emails and the team will support you to make sure you deliver a talk you can be proud of.</p>

            <p class="important huge"><b>Deadline for submissions is {{site.data.config.edition.call_for_papers.deadline}}. Don't miss it!</b></p>
        </content>
    </grid>
</section>