<section class="passed-events thumbnails-grid links-buttons" id="passed-events-section">
    <a class="anchor" id="passed-events"></a>
    <h2>nucl.ai 2015</h2>
    <grid>
        <content>



<div class="thumbnails thumbnails-6-in-row" style="margin-bottom: 2em;">

    <item class="thumbnail">
        <thumbnail-wrap style="">
            <a id="" href="" class="thumbnail column-1 6-in-row disabled" style="display:none; border-width: 2.52px; opacity: 1;">
              <div class="button-content centered-cell"></div>
            </a>
        </thumbnail-wrap>
    </item>

    <item class="thumbnail">
        <thumbnail-wrap style="">
            <a id="" href="" class="thumbnail column-2 6-in-row disabled" style=" display:none; border-width: 2.52px; opacity: 1;">
              <div class="button-content centered-cell"></div>
            </a>
        </thumbnail-wrap>
    </item>

    <item class="thumbnail" style="margin-right: 0; width: 15.5%;">
        <thumbnail-wrap style="">
            <a id="go-to-recordings" href="http://archives.nucl.ai/category/nuclai15/" target="_blank" class="thumbnail column-3 6-in-row enabled" name="mark-johnson" style="border-width: 2.52px; opacity: 1; ">
              <div class="button-content centered-cell">
                nucl.ai15 Recordings
              </div>
            </a>
        </thumbnail-wrap>
        
    </item>

    <item class="thumbnail" style="margin-left: 0; width: 15.5%;">
        <thumbnail-wrap style="">
            <a id="go-to-current" href="/2015/" class="thumbnail column-4 6-in-row column-first enabled" name="hazel-mckendrick" style="border-width: 2.52px; opacity: 1;">
              <div class="button-content centered-cell">
                nucl.ai15 Page
              </div>
            </a>
        </thumbnail-wrap>
    </item>

    <item class="thumbnail">
        <thumbnail-wrap style="">
            <a id="" href="" class="thumbnail column-1 6-in-row disabled" style="display:none; border-width: 2.52px; opacity: 1;">
              <div class="button-content centered-cell"></div>
            </a>
        </thumbnail-wrap>
    </item>

    <item class="thumbnail">
        <thumbnail-wrap style="">
            <a id="" href="" class="thumbnail column-2 6-in-row disabled" style="display:none; border-width: 2.52px; opacity: 1;">
              <div class="button-content centered-cell"></div>
            </a>
        </thumbnail-wrap>
    </item>


    <div class="brk" style="clear: both; width: 100%;"></div>

</div>


            {% assign items = site.data.galleries.nuclai15 %}
            {% include features/gallery/gallery.html %}

            <h3> Regular Attendees </h3>
            <ul class="regular-attendees">
                {% for company in site.data.regular_attendees %}
                    {% capture modulo %}{{ forloop.index | modulo:2}}{% endcapture %}
                    {% if modulo != '0' %}
                    {% else %}
                    {% endif %}
                    <li>{{ company }}</li>
                {% endfor %}
            </ul>

        </content>
    </grid>
</section>