<section class="passed-events">
    <a class="anchor" id="passed-events"></a>
    <h2>nucl.ai 2015</h2>
    <grid>
        <content>
        <ul>
            {% for event in site.data.config.previous_events %}
                <li><a href="/{{event.id}}" target="_blank">nucl.ai {{event.id}} page</a></li>
                <li><a href="{{event.archives}}" target="_blank">nucl.ai {{event.id}} recordings</a></li>
            {% endfor %}
        </ul>
            {% assign items = site.data.galleries.passed_events %}
            {% include features/gallery/gallery.html %}
        </content>
    </grid>
</section>