<section class="passed-events thumbnails-grid links-buttons" id="passed-events-section">
    <a class="anchor" id="passed-events"></a>
    <h2>
        nucl.ai 2015 - 
        <a class="go-to-recordings" href="http://archives.nucl.ai/category/nuclai15/" target="_blank">[ recordings ]</a>
        <a class="go-to-page" href="/2015/">[ page ]</a>

    </h2>
    <grid>
        <content>

            {% assign items = site.data.galleries.nuclai15 %}
            {% include features/gallery/gallery.html %}

            <h3> Past & Current Attendees </h3>
            <ul class="regular-attendees">
                {% for company in site.data.regular_attendees %}
                    {% capture modulo %}{{ forloop.index | modulo:2}}{% endcapture %}
                    {% if modulo != '0' %}
                    {% else %}
                    {% endif %}
                    <li>{{ company }}</li>
                {% endfor %}
            </ul>

        </content>
    </grid>
</section>