<section class="sponsors inline">
    <a class="anchor" id="sponsors"></a>
    <grid>
        <h2>
            Our Sponsors & Partners
        </h2>
        <content>
        {% for item in site.data.sponsors %}
            {% include /landing/sponsor.html %}
        {% endfor %}

        <!-- Your logo here -->
        {% comment %}
        <item class="sponsor your-logo-here" style="height: 300px;">
            <div class="logo-wrap table">
                <div class="logo-center centered-cell">
                    <a href="/contact" class="table">
                        <div class="centered-cell">
                            <p>Your Logo Here</p>
                        </div>
                    </a>
                </div>
            </div>
        </item>
        {% endcomment %}
        {% comment %}
        </content>
        <h2>
            Our Partners
        </h2>
        <content>
        {% for item in site.data.partners %}
            {% include /landing/sponsor.html %}
        {% endfor %}
        </content>
        {% endcomment %}
    </grid>
</section>
