<section class="tickets-avaiable-in">
    <a class="anchor" id="tickets-avaiable-in"></a>
    <grid>
        <content>
            <h2>Early Birds Tickets available in:</h2>
            {% assign timer_title = "" %}
            {% assign timer_count_to = "2016/02/17 12:00" %}

            {% include features/timers/timer.html %}
            <div class="mobile">
                {% include features/timers/timer.html %}
            </div>
            {% include features/timers/clean.html %}
        </content>
    </grid>
</section>