<section class="topics tracks thumbnails-grid tracks-content" id="section-topics">
    <a class="anchor" id="tracks"></a>
    <h2>
        Conference Tracks & Topics
    </h2>
    <grid>
        <content>

            {% assign attachDescription = false %}
            {% include tracks/header.html %}
            {% assign attachDescription = true %}

            {% comment %}

            {% assign items = site.data.topics %}
            {% assign dataType = "topics" %}
            {% assign attachDescription = true %}
            {% include features/thumbnails/thumbnails.html %}

            {% endcomment %}

        </content>
    </grid>
</section>
